/*

	-- -- -- -- -- -- --
	mod_reportproblems
	-- -- -- -- -- -- --

*/
@import url("/modules/mod_reportproblems/mod_reportproblems.css");

/* Help Tab */
	#tab {
		position: absolute;
		top: 0px;
		right: 30px;
		width: 8.5em;
		height: 3em;
		text-align: right;
		margin: 0;
		line-height: 1.2em;
		font-size: 90%;
		}
	#tab.active a {
		color: #fff;
		background: #000;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		}
	#tab.active a span {
		color: #fff;
		}
	#tab a { 
		padding: 0;
		color: #d7c2ef;
		height: 3em;
		display: block;
		background: #52528f;
		border: none;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		-webkit-box-shadow: 0 0 5px #444;
		-moz-box-shadow: 0 0 5px #444;
		box-shadow: 0 0 5px #444;
		}
	#tab a span { 
		padding: 1em 0 0 0;
		padding-right: 25px;
		background: transparent url("../../images/icons/help.png") 90% 50% no-repeat;
		color: #d7c2ef;
		height: 2em;
		display: block;
		border: none;
		}
	#tab a:hover {
		color: #fff;
		background: #000;
		}
	#tab a:hover span {
		color: #fff;
		}
	#tab a span:before {
		content: '';
	}