/*
 Geosearch
 */
.geosearch fieldset legend { 
	display:block !important; 
}
.key {
	float:right;
	height:10px;
	width:10px;
}
#map_canvas {
	height:500px;
}
img {
	max-width:none;
}
input[type="submit"], 
input[type="button"]  { 
	float:right;
	margin:0 5px;
}
.list-item {
	background:#FFF;
	margin:0 0 3px 0;
	padding:7px;
	width:100%;
}
.list-item a {
	font-weight:bold;
	text-decoration:none;
}
.list-label {
	margin:0 10px 0 0;
	text-align:center;
	max-width:15%;
}
.list-detail {
	font-size:75%;
}
.list-content {
	float:right;
	margin:0;
	text-align:left;
	width:85%;
}
.member-img {	
	float:left;
	margin:10px 20px 10px 0;
}
.member-img img {
	border:1px solid #999;
	height:46px;
	width:46px;
}
.job-desc {
	/*font-weight:bold;*/
	margin:12px 0;
}
.marker {
	font-family:Helvetica, Arial, sans-serif;
	font-size:11px !important;
	min-height:150px;
	padding:10px;
	min-width:270px;
	max-width:380px;
}
.marker a { 
	font-size:11px !important; 
}
.marker-title a {
	font-size:12px !important;
	font-weight:bold !important;
	margin:0 0 4px 0 !important;
}
.marker-bio {
	clear:left;
	font-size:11px !important;
	font-weight:bold !important;
	margin:10px 0;
}
#marker-buttons {
	clear:left;
	display:block;
	height:30px;
	margin:20px 0 0 0;
}
#marker-buttons .button {
	border:1px solid #554693;
	background:#EEE;
	cursor:pointer;
	float:right;
	margin:0 0 0 10px;
	padding:5px;
}
#marker-buttons .button .content:before {
	width: 18px;
	height: 18px;
	font-size: 14px;
	font-family: 'Fontcons';
	color: #554693;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background: none;
	margin:0 3px 0 0;
}
#marker-buttons .profile .content:before { 
	content: "\f007"; 
}
#marker-buttons .message .content:before { 
	content: "\f075"; 
} 
#marker-buttons .moreinfo .content:before { 
	content: "\f05a"; 
}
#marker-buttons .content { 
	font-weight:bold; 
}
.clear-left { 
	clear:left; 
}
.clear-right{ 
	clear:right; 
}
.list p {
	background: #fff;
	padding: 20px;
	font-style: italic;
	color: #aaa;
}