@import url("/plugins/resources/about/about.css");

.resource td {
	padding: 5px 10px;
}
.resource td p:first-child {
	margin-top: 0;
	padding-top: 0;
}
.resource .resource-content {
	padding: 5px 10px;
}
.resource th {
	color: #999;
	text-align: right;
	width: 120px;
	word-wrap: break-word;
}
.badges-list .tags  a {
	border: 1px solid #634024 !important;
	background: #8e6e59 !important;
	color: #FFF !important;
}