<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="user">
		<field name="pf_user_scroll_switch" type="radio" default="0" label="Infinite Scroll Active" description="When this box is checked, users can scroll through content continuously.">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pf_user_menu_set" type="radio" default="0" label="Show side menu" description="When this box is checked, a menu that includes a list of feeds with alerts displays on the right side of the All Content and Nominated pages.">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pf_pagefull" type="text" default="20" label="Number of feed items per page." description="Setting this number determines how many items will appear on the All Content and Nominated pages when infinite scroll is turned off." />
	</fieldset>
	<fieldset name="site">
		<field name="pf_link_to_source" type="text" default="0" label="Seconds to redirect user to source. (0 means no redirect)" description="PressForward makes use of canonical URLs. If you would like to redirect your readers automatically to the items aggregated by the feed reader and published to your site, this setting will determine how long to wait before redirecting." />
		<field name="pf_use_advanced_user_roles" type="radio" default="no" label="Use advanced user role management? (May be needed if you customize user roles or capabilities)." description="For sites that manage multiple users using special plugins, administrators can use this option to insure PressForward respects customized user roles and capacities.">
			<option value="no">JNO</option>
			<option value="yes">JYES</option>
		</field>
		<field name="pf_present_author_as_primary" type="radio" default="yes" label="Show item_author as source." description="When this preference is on, the name of the author in a PressFoward item will appear in the item_author custom field when the item is sent to Draft. This author will overwrite the creator of the post.">
			<option value="no">JNO</option>
			<option value="yes">JYES</option>
		</field>
		<field name="pf_source_statement_position" type="list" default="top" label="Source statement position." description="Choose the position for source title and link on published content.">
			<option value="top">Top</option>
			<option value="bottom">Bottom</option>
		</field>
		<field name="pf_retain_time" type="text" default="2" label="Months to retrieve and retain feed items." description="This number determines the number of previous months that PressForward will retrieve items for All Content from subscribed feeds and the number of months that items will remain in PressForward." />
		<field name="pf_errors_until_alert" type="text" default="3" label="Number of errors before a feed is marked as malfunctioning." description="Feeds sometimes respond slowly or have errors that cause them to be unreadable. This setting determines the number of consecutive errors PressForward will allow from a feed before creating an alert and disabling it." />
		<field name="pf_retrieval_frequency" type="text" default="30" label="Minutes between feed retrieval cycles." description="This setting is the frequency at which PressForward will attempt to start the process of retrieving all the feeds in your list. Warning: if you have a large number of feeds this setting should not go below 30 minutes." />
		<field name="pf_draft_post_status" type="list" default="3" label="Post status for new content." description="This setting allows you to set a default post status that gets set when you send nominations to become posts.">
			<option value="0">unpublished</option>
			<option value="1">published</option>
			<option value="2">archived</option>
			<option value="3">draft</option>
		</field>
		<field name="pf_draft_post_type" type="list" default="post" label="Post type for new content." description="Your WordPress site may have more than one Post Type installed, this setting will allow you to send nominations to the post type of your choice.">
			<option value="post">post</option>
		</field>
	</fieldset>
	<fieldset name="module">
		<field name="pf_comments_enable" type="radio" default="0" label="Enable Internal Commenting" description="This provides a way for users to comment on posts throughout the editorial process. Internal commenting is only visible in the PressForward plugin and will not be publicly visible when published as a Post.">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pf_debugger_enable" type="radio" default="0" label="Enable Debugger Log Viewing" description="This provides a way to view the feed retrieval log within the dashboard.">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pf_foo_enable" type="radio" default="0" label="Enable Foo Test" description="This provides a set of test functions for developers to check.">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pf_opml-subscribe_enable" type="radio" default="0" label="Enable opml-subscribe" description="This module needs to overwrite the setup_module function and give a description.">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pf_rss-import_enable" type="radio" default="0" label="Enable RSS Import" description="This module provides the core functionality to read RSS feeds and translate them into PressForward's system.">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pf_rss-out_enable" type="radio" default="0" label="Enable RSS Output" description="This module provides a way to output RSS Feeds from your subscribed items. An RSS Feed consisting of all your subscribed items will be available at your domain '/pressforward.'">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_pressforward" section="component" />
	</fieldset>
</config>