/*
	Habri Central Landing Page Template	
*/

/* Reset */
@import url("reset.css");
html {overflow-x: hidden;}
body {
	margin: 0;
	padding: 0;
	font: 12px/20px  "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	text-rendering: optimizeLegibility;
	background:#f5f5f5 url("../images/bg2.png") no-repeat 50% 0;
	overflow:hidden;
	}

#container {
	width:1000px;
	margin:30px auto;
	}
.clear {
	height:0;
	line-height:0;
	clear:both;
	}
	
	/*---------------------------------------------------------------
		Site notices, warnings, errors
	---------------------------------------------------------------*/
		.archive,
		.help,
		.info,
		.information,
		.alert,
		.warning,
		.failed,
		.error,
		.passed,
		.locked,
		.timed,
		.flagged { 
			margin: 1em 0;
			padding: 10px 10px 10px 30px; 
			}
		.low,
		.help,
		.info,
		.information { 
			border: 1px solid #C2D6EF; 
			color: #4379CA; 
			}
		.help { 
			background: #f6efff url("/templates/habricentral/images/icons/help_purple.png") 10px 10px no-repeat;
			border: 1px solid #d7c2ef; 
			color: #8a42cd;
			}
		.low,
		.info,
		.information { 
			background: #EFF7FF url("/templates/habricentral/images/icons/information.gif") 10px 10px no-repeat;
			}
		.help a,
		.info a {
			color: blue;
			border-bottom: 1px solid blue;
			}
		.help a:hover,
		.info a:hover,
		.information a:hover {
			color: #000;
			border-bottom: 1px solid #000;
			}
		.medium,
		.alert,
		.warning { 
			border: 1px solid #EFEAC2; 
			color: #CC6633; 
			background: #FFFDEF url("/templates/habricentral/images/icons/warning.gif") 10px 10px no-repeat;
			}
		.high,
		.failed,
		.error { 
			border: 1px solid #EFCCC2; 
			color: #CC0000;
			background: #FFF2EF url("/templates/habricentral/images/icons/error.gif") 10px 10px no-repeat; 
			}
		.passed { 
			border: 1px solid #CDDECA; 
			color: #7AAB69;
			background: #F3FDF0 url("/templates/habricentral/images/icons/accept.gif") 10px 10px no-repeat; 
			}
		.archive { 
			border: 1px solid #ccc; 
			color: #777;
			background: #efefef url("/templates/habricentral/images/icons/archive.gif") 10px 10px no-repeat;
			}
		.locked { 
			border: 1px solid #EFEAC2; 
			color: #CC6633; 
			background: #FFFDEF url("/templates/habricentral/images/icons/lock.png") 10px 10px no-repeat;
			}
		.timed { 
			border: 1px solid #e9dab3; 
			color: #ad733f; 
			background: #f5efe2 url("/templates/habricentral/images/icons/hourglass.png") 10px 10px no-repeat;
			}
		.flagged { 
			border: 1px solid #EFCCC2; 
			color: #CC0000;
			background: #FFF2EF url("/templates/habricentral/images/icons/flag_red.png") 10px 10px no-repeat;
			}
		.archive h4,
		.passed h4,
		.failed h4,
		.help h4,
		.info h4,
		.information h4,
		.warning h4,
		.error h4,
		.timed h4,
		.flagged h4 { 
			margin-top: 0;
			padding-top: 0;
			}
		.failed h4,
		.error h4 {
			color: #CC0000;
			}
		.help h4 {
			color: #8a42cd;
			}
		.info h4,
		.information h4 {
			color: #4379CA;
			}
		.warning h4 {
			color: #CC6633;
			}
		.passed h4 {
			color: #360;
			}
		#sitenotice,
		#sitenotice .archive,
		#sitenotice .help,
		#sitenotice .info,
		#sitenotice .information,
		#sitenotice .alert,
		#sitenotice .warning,
		#sitenotice .failed,
		#sitenotice .error,
		#sitenotice .passed,
		#sitenotice .timed,
		#sitenotice .flagged { 
			margin: 0;
			}
		#sitenotice {
			padding-left: 30px;
			}
		#sitenotice p {
			padding: 0;
			margin: 10px 0;
			}

		#system-message {
			margin: 0;
			padding: 10px 0 0 0;
		}
		#system-message dt {
			margin: 0;
			padding: 10px 0 0 30px;
			font-weight: bold;
			border: 1px solid #C2D6EF; 
			color: #4379CA; 
			background: #EFF7FF url("/templates/habricentral/images/icons/information.gif") 10px 10px no-repeat;
			border-bottom: none;
		}
		#system-message dd {
			margin: 0;
			padding: 0 10px 10px 30px;
			border: 1px solid #C2D6EF;
			border-top: none;
			color: #4379CA;
			background: #EFF7FF;
		}
		#system-message dd ul,
		#system-message dd ul li {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		#system-message dt.error {
			color: #CC0000;
			background: #FFF2EF url("/templates/habricentral/images/icons/error.gif") 10px 10px no-repeat;
			border-color: #EFCCC2; 
		}
		#system-message dd.error {
			color: #CC0000;
			background: #FFF2EF;
			border-color: #EFCCC2; 
		}
		#system-message dt.warning {
			border-color: #EFEAC2; 
			color: #CC6633; 
			background: #FFFDEF url("/templates/habricentral/images/icons/warning.gif") 10px 10px no-repeat;
		}
		#system-message dd.warning {
			border-color: #EFEAC2; 
			color: #CC6633; 
			background: #FFFDEF;
		}	

/* HABRI Link Color Scheme */
a {
        color:#aaa;
        }

a:visited {
        color:#262261;
        }

a:hover {
        color:#f36e23;
        }

/* Header Styles */
#header {
	color:#666;
	background:#FFF;
	position:relative;
	padding:10px 10px 10px 0;
	}
#header:before {
	content: "";
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 9999px;
	right:100%;
	}			
#header h1 {
	font-size:50px;
	line-height:50px;
	font-weight:normal;
	}
#header h2 {
	font-size:26px;
	font-weight:normal;
	line-height:28px;
	}	
#header h3 {
	font-size:20px;
	font-weight:normal;
	padding-top:15px;
	}
#header #open-access {
	position:absolute;
	top:10px;
	right:-6px;
	text-indent:-5555em;
	width:113px;
	height:47px;
	background:url("../images/oa_banner.png") no-repeat 0 0;
	}	
	
/* Content */
#content {
	overflow:hidden;
	margin-top:30px;
	}
#content #video {
	float:left;
	width:390px;
	height:310px;
	margin-right:20px;
	}
#content #video iframe {
	width:390px;
	height:310px;
	border:none;
	}
#content #about {
	float:right;
	width:550px;
	padding:20px;
	background:#FFF;
	}
#content #about p {
	font-size:13px;
	line-height:17px;
	color:#666;
	padding:0px 0px 17px 0px;
	}
#content #about p:last-child {
	padding:0px;
	}
	
/* Social */
#social {
	margin-top:10px;
	}
#social .facebook,
#social .twitter,
#social .googleplus {
	float:left;
	}
#social .twitter {
	width:62px;
	}
#social .googleplus {
	margin-top:2px;
	}
	
	
/* Email Signup */
#email {
	background:#Fff;
	width:590px;
	padding:30px 0;
	float:right;
	text-align:right;
	position:relative;
	color:#6666;
	}
#email:after {
	content: "";
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 9999px;
	left:100%;
	}
#email h2 {
	font-weight:normal;
	font-size:38px;
	line-height:48px;
	margin-bottom:15px;
	}
#email p {
	font-size:18px;
	}
	
/* Form */
#email-form {
	margin-top:20px;
	float:right;
	width:590px;
	text-align:right;
	}
#email-form input[type=text] {
	width:578px;
	font-size:16px;
	padding:4px;
	background:#FFF;
	border:2px solid #dcdcdc;
	color:#666;
	text-align:right;
	}	
#email-form input[type=submit] {
	margin:5px 0 0 0;
	padding:5px 15px;
	border:2px solid #dcdcdc;
	text-transform:uppercase;
	color:#FFF;
	font-weight:bold;
	text-shadow:0 0 1px #444;
	
	background-color: #c7c7c7; 
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5d5d5), to(#bfbfbf));
   	background-image: -webkit-linear-gradient(top, #d5d5d5, #bfbfbf); 
   	background-image: -moz-linear-gradient(top, #d5d5d5, #bfbfbf);
   	background-image: -ms-linear-gradient(top, #d5d5d5, #bfbfbf);
   	background-image: -o-linear-gradient(top, #d5d5d5, #bfbfbf);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d5d5d5, endColorstr=#bfbfbf);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#d5d5d5, endColorstr=#bfbfbf)";
	}
#email-form input[type=submit]:hover {
	cursor:pointer;
	}
#email-form #honey {
	display:none;
	}

/* Affiliate Links */
#affiliates {
	background:#Fff;
	width:950px;
        height:auto;
	padding:10px 30px;
	float:right;
	position:relative;
	}
#affiliates img {
	height:60px;
        padding:0px 16px 0px 0px;
        }
#affiliates #about {
        width:65%;
        float:right;
        text-align:right;
	}	
	
/* Login */
#login {
	float:right;
	color:#aaa;
	margin:100px 0 25px 0;
	}	
#login:hover {
	color:#999;
	text-decoration:none;
	} 
	
/* */
.error {     
	margin: 1em 1em 0 1em;
	padding: 10px 10px 10px 30px;
	border: 1px solid #EFCCC2; 
	color: #CC0000;
	background: #FFF2EF url("../images/error.gif") 10px 10px no-repeat;
	}
.success {     
	margin: 1em 1em 0 1em;
	padding: 10px 10px 10px 30px;
	border: 1px solid #CDDECA; 
	color: #7AAB69;
	background: #F3FDF0 url("../images/accept.gif") 10px 10px no-repeat;
	}