/* @import url("/modules/mod_latestdiscussions/mod_latestdiscussions.css"); */

ul.blog-entries {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

ul.blog-entries li {
	margin-left: 0;
}

ul.blog-entries .blog-entry-comment {
	padding:5px 0 30px 0;
}