/* @import url("/modules/mod_latestdiscussions/mod_latestdiscussions.css"); */

ul.discussions {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

ul.discussions li {
	margin-left: 0;
}

ul.discussions .discussion-comment {
	padding:5px 0 30px 0;
}