@import url("/components/com_citations/assets/css/citations.css");

.com_citations #content-header-extra ul li {
	list-style:none;
}

.withBatchDownload .aside {
	padding-top:2em;
}
#download-batch {
	position:relative;
	top:0;
}
.aside h4 {
	padding:10px 0 15px 0px;
	font-weight:bold;
	border-bottom:none;
	margin:0;
	color:#555;
}
form .aside input.half {
	width:41.5%;
}

.citation-details .tags {
	margin-top: 25px !important;
}
.citation-details .tags.badges {
	margin-top: 0px !important;
	margin-right: 15px !important;
}
.badges li a {
	border: 1px solid #634024 !important;
	background: #8e6e59 !important;
}


.badges li.token-input-input-token-act {
	border:none;
	background:transparent;
}
.badges li.token-input-token-act {
	border: 1px solid #634024; 
	background: #8e6e59;
	color: #FFF;
}


#content-header.citation-view {
	margin:0;
}
#content-header .content-header-left h2 {
	padding: 30px 30px 10px 10px;
}
table.citation {
	border:none;
}


#sbox-window-cover {
	position:absolute;
	top:0px;
	right:0px;
	width:25px;
	height:25px;
	background:whiteSmoke;
}

#citation-sponsors .citation-sponsor li a:hover {
	background: #FFF;
}