@import url("/core/components/com_blog/site/assets/css/blog.css");

/*.entry-title a.edit, 
.entry-title a.delete,
dl.entry-meta dd.entry-options a.edit, 
dl.entry-meta dd.entry-options a.delete,
div.entry dl.entry-meta dd.entry-options a.edit, 
div.entry dl.entry-meta dd.entry-options a.delete {
	width: 16px;
	height: 16px;
	text-indent: 55em;
	padding: 0;
}*/
ol.blog-entries {
	list-style-type: none !important;
	border: 2px solid #e9e9e9;
	border-top: none;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
ol.blog-entries > li {
	clear: left;
	margin: 0 !important;
	padding: 0 1em;
	border-top: 1px solid #efefef;
	position: relative;
}
.blog-entries article>*:first-child,
ol.blog-entries h4 {
	margin: 1em 0;
	line-height: 1em;
}
.com_blog .below h3 {
	margin: 1em 0;
}
.com_blog .no-comments {
	margin-top: 0;
}