@import url("/components/com_blog/assets/css/blog.css");

/*.entry-title a.edit, 
.entry-title a.delete,
dl.entry-meta dd.entry-options a.edit, 
dl.entry-meta dd.entry-options a.delete,
div.entry dl.entry-meta dd.entry-options a.edit, 
div.entry dl.entry-meta dd.entry-options a.delete {
	width: 16px;
	height: 16px;
	text-indent: 55em;
	padding: 0;
}*/

.com_blog .below h3 {
	margin: 1em 0;
}
.com_blog .no-comments {
	margin-top: 0;
}